<div class="container">
  <h1>Tweets Right Now</h1>
  <hr>
  <div id="tweetBox">
    <div class="container-fluid">
      <div *ngFor="let tweet of tweets | async; let i = index; let even = even">
        <div [class.card-success]="tweet.sentiment.compound > 0"
             [class.card-danger]="tweet.sentiment.compound < 0"
             [class.card-primary]="tweet.sentiment.compound == 0"
             class="card mb-3 text-center card-inverse col">
          <div class="card-block">
            <h3 class="card-title">@{{tweet.user.screen_name}}</h3>
            <p class="card-text">{{ tweet.text }}</p>
          </div>
        </div>
        <div *ngIf="even == true" class="w-100"></div>
      </div>
    </div>
  </div>
</div> <!-- /container -->

