<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Social Media Analyzer</h1>
    <p>An online tool for everyone who's every been curious about public opinion. <br>
      Click one of the links or search to get insight into current trends!</p>
    <div class="input-group">
      <input #searchbox type="text" class="form-control" placeholder="Search Phrase" (keyup.enter)="go(searchbox.value)">
      <div class="input-group-btn">
        <a class="btn btn-primary btn-lg" role="button" (click)="go(searchbox.value)">GO</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div *ngFor="let tweet of tweets | async" class="col-md-4">
      <h2>@{{tweet.user.screen_name}}</h2>
      <p>{{tweet.text}}</p>
      <p><a class="btn btn-secondary" routerLink="/analysis/{{tweet.sma_keywords[0]}}" role="button">{{tweet.sma_keywords[0]}}</a></p>
    </div>
  </div>
  <hr>
</div> <!-- /container -->
